@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --gradient: #2bc0e4;
    --background: 204 50.050000000000004% 4.24%;
    --foreground: 204 7.7% 97.65%;
    --muted: 204 38.5% 15.9%;
    --muted-foreground: 204 7.7% 55.3%;
    --popover: 204 49.6% 6.890000000000001%;
    --popover-foreground: 204 7.7% 97.65%;
    --card: 204 49.6% 6.890000000000001%;
    --card-foreground: 204 7.7% 97.65%;
    --border: 204 38.5% 15.9%;
    --input: 204 38.5% 15.9%;
    --primary: 204 77% 53%;
    --primary-foreground: 204 7.7% 5.300000000000001%;
    --secondary: 204 38.5% 15.9%;
    --secondary-foreground: 204 7.7% 97.65%;
    --accent: 204 38.5% 15.9%;
    --accent-foreground: 204 7.7% 97.65%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 204 7.7% 97.65%;
    --ring: 204 77% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
